.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}



.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #001379;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}





    .logo{
        width: 40%;
     margin-left: auto;
     margin-right: auto;

    }
    .browsecable{
      margin-top:50px;
      margin-bottom:50px
    }

    .copy{
      margin-bottom: -50;
      background-color: #001379 ;
    }

    .copy h5{
      font-size: 13px;
    }

    .graf{
      background-image: url('/storage/logo/graphics_1.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size:230px 170px;
      opacity: 1.80;

    }

    .ecoflogo{
       width: 90%;
        margin-top: 10%;
       margin-left: auto;
       margin-right: auto;

    }
    .VIEW{
      font-size: 12px;
      background-color: #85502e;
      margin-top:-10px;
      width: 135px;
      height:20px;
      color: white;
    }
    #btn-back-to-top {
      position: fixed;
      bottom: 20px;
      right: 20px;
      display: none;
      background-color: #001379;
      border: none;
      border-radius: 50%;
      height: 50px;
      width: 50px;
      color: white;
      cursor: pointer;}

    .htext{
      color: white;
      margin-left: auto;
      margin-right: auto;
      margin-top: 8%;
      width:80%;
      text-align: center;
    }

    .htext h6{
      justify-content: center;
      font-size:12px;

    }
    .ecofPowerplus{
      margin: 0 auto;
      margin-top: 50px;
      width:300px;
    }
    .titlehome{
      margin-top: 5%;
      text-align: center;
      font-weight: bold;
      margin-left: auto;
      margin-right: auto;
      font-size: 13px;
      width: 80%;
    }

    .tel{
      display: none;
    }
    .pictureh img{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width:80%;
      margin-top: 3%;
    }

    .homecenter{
      justify-content: center;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      border: #ee7219 3px solid;
      border-radius: 15px;
      margin-top: 3%;
      height: 40%;
    }
    .homecenter h3{
      text-align: center;
      font-weight: 700;
      margin-top: 2%;


    }


    .homecenter {
       font-weight: bold;
      margin-top: 5%;
      margin-bottom: 5%;
      height: 400px;

    }

    .homecenter img {
     width: 30px;
     margin-left: -30px;
   }
   .homecenter ul {
    margin-top: 10%;
   padding-bottom: 20px;

   padding-top: 20px;
  }


  .a3{

    margin-top: 35px;
  }

  .a2 p {
    margin-top: -40px;

  }
  ul li p{
    font-size: 10px;
    margin-top: -25px;
    margin-left: 10px;
  }



  .datah{
    justify-content: center;
      width: 70%;
      margin-left: auto;
      margin-right: auto;
      font-weight: 400;
      margin-top: 3%;
      height: 40%;
      text-align:left;
      margin-bottom: 50px;
  }

  .datah p{
    font-size: large;

  }
  .datah ul li a{
    color: white;
    background-color: #ee7219;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 3%;

  }

  .datah ul li a:hover{
    color: white;
    background-color: #B87333;


  }


  a.homeV {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;


    text-decoration: none;
    color: initial;
  }
  iframe{
    display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 54px;
      width:300px;
      height:200px;
  }
  .endh{
    text-align: center;
    justify-content: left;
    font-size: 15px;
    margin-bottom: 30px;
  }

    .pagination {
        display: inline-block;

      }

      .hed{
          background-color: #001379;



      }

      .graphics_3{
        display: none;
      }


      .pagination li {
        color: black;
        float: left;
        font-weight: bold;
        padding: 8px 16px;
        text-decoration: none;
        transition: background-color .3s;
        border: 2px solid black;
        margin: 0 4px;

      }

      .pagination li.active {
        background-color: black;
        color: white;
        border: 2px solid black;
      }

      .pagination li:hover:not(.active) {background-color: black;}
      .pagination li a{
        color:black;
        text-decoration: none;
      }
      .pagination li a:hover{
        color:white;
      }
      .pagination li.active a {

        color: white;

      }
      .ecoftf {
        font-size: 18px;
         margin-top:-12%;
          margin-left:90px;

         color: chocolate;

       }
       input[type="email"]::placeholder {

        /* Firefox, Chrome, Opera */
        color: black;
      }
      footer ul li a{
        text-decoration: none;
        margin-bottom: 50px;
      }
      .loadmore{
        background-color: #ee7219 ;
  border-radius: 10px;

  margin-top: 20px;
  margin-bottom: 50px;
  size: 20px;


      }
      .loadmore:hover{
        background-color: #85502e ;
      }
      .a button:focus{

        background-color:#001379;
        color:white;


        margin-top:3%;

        border: 1px solid white;
        font-size: 70%;
      }

      .a button:hover{

        background-color:#001379;
        color:white;


        margin-top:3%;

        border: 1px solid white;
        font-size: 70%;
      }
      .a button{

        background-color:white;
        color:black;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        margin-top:3%;
        border-radius: 10px;
        border: 1px solid black;
        font-size: 70%;
      }


      .a{
          width:100%;
      }
      .a ul{
        width: 60%;
      }
      .a li{
        font-size: 80%;
      }
      .what{
        color:black;
        margin-left:auto;
        margin-right:auto;
        margin-bottom:5%;
        font-size: 19px;
        text-align: center;
      }

    .card-body {
      margin-top: -150px;
      margin-left:50%;
      font-size: small;
    }
    .card-title{
       font-size: 10px;
    }
      .del{
        margin-left:80%;
        font-size: 9px;
        color: #001379;
        border:2px solid black;
        width: 30%;
        height:20%;
        margin-top: -500px;
      }
      .de{
        margin-top: -20px;
      }

      .info{
        font-size:8px;


        margin-left: -50px;
      }


      .ord{
        height: 2000px!important;
      }
      .req{
        background-color: black;
        color: white;
        margin-bottom: 50px;
     margin-left: 150px;

        border:2px solid black;
        width: 150px;
        height: 50px;
      }

@media (min-width: 640px) {

    .logo{
        width: 30%;
        margin-left: auto;
        margin-top: 2%;
    }

    .ecoft h1{
        font-size:45px;
        margin-left: 50%;
        margin-top: -10%;
        color: chocolate;
        margin-bottom: 2%;

    }

    .ecoflogo{
       width: 40%;
        margin-left: auto;


    }

    .nav{
        margin-left:4em;
    }
    .pagination {
        display: inline-block;
      }

      .pagination li {
        color: black;
        float: left;
        font-weight: bold;
        padding: 8px 16px;
        text-decoration: none;
        transition: background-color .3s;
        border: 2px solid black;
        margin: 0 4px;
      }

      .pagination li.active {
        background-color: black;
        color: white;
        border: 2px solid black;
      }

      .pagination li:hover:not(.active) {background-color: black;}
      .pagination li a{
        color:black;
        text-decoration: none;
      }
      .pagination li a:hover{
        color:white;
      }
      .pagination li.active a {

        color: white;

      }
      .ecoftf {
        font-size: 18px;
         margin-top:-8%;
          margin-left:90px;

         color: chocolate;

       }
       input[type="email"]::placeholder {

        /* Firefox, Chrome, Opera */
        color: black;
      }
      footer ul li a{
        text-decoration: none;
        margin-bottom: 50px;
      }
      .loadmore{
        background-color: #ee7219 ;
        border-radius: 10px;
        margin-top: 20px;
        margin-bottom: 50px;
        size: 20px;


      }
      .loadmore:hover{
        background-color: #85502e ;
      }
      .a button{

        background-color:white;
        color:black;
        width: 20%;
        margin-left:5%;
        margin-top:3%;
        border-radius: 0px;
        font-size: 7px;
      }


      .a{
          width:100%;
      }
      .a ul{
        width: min-content;
      }
      .a li{
        font-size: 60%;
      }
      .what{
        color:black;
        margin-left:auto;
        margin-right:auto;
        margin-bottom:5%;
      }

    }


@media (min-width: 768px) {
    .logo{
        width:30%;
        margin-left: auto;
        margin-top: 2%;

    }

    .ecoft h1{
        font-size:50px;
        margin-left: 48%;
        margin-top: -9%;
        color: chocolate;
        margin-bottom: 2%;

    }

    .ecoflogo{
       width: 40%;
        margin-left: auto;


    }

    .nav{
        margin-left:6em;
    }
    .pagination {
        display: inline-block;
      }

      .pagination li {
        color: black;
        float: left;
        font-weight: bold;
        padding: 8px 16px;
        text-decoration: none;
        transition: background-color .3s;
        border: 2px solid black;
        margin: 0 4px;
      }

      .pagination li.active {
        background-color: black;
        color: white;
        border: 2px solid black;
      }

      .pagination li:hover:not(.active) {background-color: black;}
      .pagination li a{
        color:black;
        text-decoration: none;
      }
      .pagination li a:hover{
        color:white;
      }
      .pagination li.active a {

        color: white;

      }
      .ecoftf {
        font-size: 18px;
         margin-top:-13%;
          margin-left:90px;

         color: chocolate;

       }
       input[type="email"]::placeholder {

        /* Firefox, Chrome, Opera */
        color: black;
      }
      footer ul li a{
        text-decoration: none;
        margin-bottom: 50px;
      }
      .loadmore{
        background-color: #ee7219 ;
        border-radius: 10px;
        margin-top: 20px;
        margin-bottom: 50px;
        size: 20px;


      }
      .loadmore:hover{
        background-color: #85502e ;
      }
      .a button{

        background-color:white;
        color:black;
        width: 20%;
        margin-left:5%;
        margin-top:3%;
        border-radius: 0px;
        font-size: 10px;
      }


      .a{
          width:100%;
      }
      .a ul{
        width: 100%;
      }
      .a li{
        font-size: 100%;
        width: 100%;
      }
      .what{
        color:black;
        margin-left:auto;
        margin-right:auto;
        margin-bottom:5%;
      }
    }




@media (min-width: 1024px) {
.logo{
    width: 15%;
    margin-left: 3%;
    margin-top: 2%;
}

.logo img{

    display: block;

    margin-left: auto;
    margin-right: auto;

}
.ecoft h1{
    font-size:50px;
    margin-left: 56%;
    margin-top: -7%;
    color: chocolate;
    margin-bottom: 3%;
}

.ecoflogo{
   width: 30%;
    margin-left: 35%;
    margin-top: -7%;


}


.ecoftf {
 font-size: 18px;
  margin-top:-16%;
   margin-left:90px;

  color: chocolate;

}
.VIEW{
  font-size: 12px;
  background-color: #85502e;
  margin-top:-10px;
  width: 135px;
  height:20px;
  color: white;
}



input[type="email"]::placeholder {

  /* Firefox, Chrome, Opera */
  color: black;
}

footer ul li a{
  text-decoration: none;
  margin-bottom: 50px;
}


.nav{
    margin-left:17em;
}

.pagination {
  display: inline-block;
}

.pagination li {
  color: black;
  float: left;
  font-weight: bold;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 2px solid black;
  margin: 0 4px;
}
.pagination li a{
  color:black;
  text-decoration: none;
}
.pagination li a:hover{
  color:white;
}
.pagination li.active a {

  color: white;

}
.pagination li.active {
  background-color: black;
  color: white;
  border: 2px solid black;
}
.loadmore{
  background-color: #ee7219 ;
  border-radius: 10px;
  margin-top: 50px;
  margin-bottom: 40px;
  size: 20px;


}
.filter{
  background-color: #001379;

  margin-top: 30px;
  margin-bottom: 50px;
  size: 20px;


}
.loadmore:hover{
  background-color: #85502e ;
}
 .filter:hover{
   opacity: 0.5;
 }
.pagination li:hover:not(.active) {background-color: black; color: white;}




.a{
    width:25%;
    margin-left: 2%;
}
.what{
  color:black;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:5%;
  font-size: 19px;
}
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  width: 200px;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}
.del{
  margin-left:500px;
  font-size: 17px;
  color: #001379;


  border:2px solid black;
  width: 150px;
  height: 50px;
}

.info li{
  margin-top: -35px;
  margin-bottom: 35px;
}
.req{
  background-color: black;
  color: white;
  margin-bottom: 50px;
  margin-left: 500px;
  border:2px solid black;
  width: 150px;
  height: 50px;
}
#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  background-color: #001379;
  border: none;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  color: white;
  cursor: pointer;}

  .hed{
    background-color: #001379;

    height:180px;
  }

  .graf{
    background-image: url('/storage/logo/graphics_1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size:240px 180px;
    opacity: 1.80;
    height: 160px;
  }
  .graphics_3{
    width: 15%;
    margin-left: 72%;
    margin-top: -5%;

  }

  .htext {
    margin-top: 35px;
    margin-left: auto;
    margin-right:auto;

    font-size: 50px;
    color: white;
  }

  .copy{
    margin-bottom: -50;
  }

  .ecofPowerplus{
    margin: 0 auto;
    margin-top: 50px;
    width: 400px;
  }
  .titlehome{
    margin-top: 3%;
    text-align: center;
    font-weight: bold;
  }
  .pictureh img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    margin-top: 3%;
  }

  .homecenter{
    justify-content: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border: #ee7219 3px solid;
    border-radius: 15px;
    margin-top: 3%;
    height: 40%;
  }
  .homecenter h3{
    text-align: center;
    font-weight: 700;
    margin-top: 2%;


  }

  .homecenter ul {
    -webkit-column-count: 2;  /* Chrome/Opera, Safari */
    -moz-column-count: 2; /* Mozilla Firefox */
    column-count: 2;
  }

  .homecenter {
     font-weight: bold;
    margin-top: 5%;
    margin-bottom: 5%;
    height: 500px;

  }

  .homecenter img {
   width: 50px;

 }
 .homecenter ul {
  margin-top: 3%;
 padding-bottom: 20px;


}


.homecenter ul li{
  margin-left: 20px;
   padding: 3%;
 }
 .a3 p {
  margin-top: -53px !important;

 }
 .a2 p {
  margin-top: -70px !important;
 }
.homecenter ul li p{
 margin-left: 40px;
margin-top: -50px;
 font-size: large;

}

.datah{
  justify-content: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    font-weight: 400;
    margin-top: 3%;
    height: 40%;
    text-align: justify;
    margin-bottom: 50px;
}

.datah p{
  font-size: large;

}
.datah ul li a{
  color: white;
  background-color: #ee7219;
  border-radius: 10px;

  padding: 1%;

}

.datah ul li a:hover{
  color: white;
  background-color: #B87333;


}


a.homeV {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;


  text-decoration: none;
  color: initial;
}
iframe{
  display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 54px;
    width:800px;
    height:400px;
}
.endh{
  text-align: center;
  justify-content: left;
  margin-bottom: 30px;
}
footer{
  width:100%;
}
.mobile{
  display:none;
}
.web{
  display:contents;
}
.info li{
  font-size:15px;
  margin-left: -200px;
  width: 200px !important;
  margin-top: 0;
  margin-bottom: 0;
}


.info{
  font-size:14px;



}
.card-body{
  font-size: 20px;

  margin-top: 50px;
}

.card-title{
   font-size: 20px;
   margin-left: -340px;
   margin-top: -60px;
}
.del{


  margin-left:150px;
  font-size: 17px;
  color: #001379;
  margin-bottom: 100px;

  margin-top: -500px;

  border:2px solid black;
  width: 150px;
  height: 50px;
}
.de{
  margin-top: -100px;
}

.product img{
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: auto;
  margin-left: auto;
  width:80%;
box-shadow: #001379;

}
.browsecable{
  margin-top:50px;
  margin-bottom:50px
}
.info{
  padding-left:5% ;
  padding-top:2% ;
  padding-right:1% ;
  padding-bottom:5% ;

}
.info .section{
 font-size: larger;
}






.form-control{
    border-radius: 0px;
  height: 50px;
  background-color:white;

}

.form-control:focus{
  background-color: #eeeeee69;
  box-shadow: none;

}
.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #001379;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.name h5{
  text-align: center;
  display:block;
 margin-left:auto;
 margin-right:auto;
 margin-bottom:20px;
}



.aziz{
  margin-left: 50px;
}







}
